css
Copy code

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #474541;
  color: #a7a6a6;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

th {
  font-weight: 700;
  background-color: #363636;
}

td:first-child {
  font-weight: 700;
}

tr:hover {
  background-color: #363636;
}

@media screen and (max-width: 600px) {
  .table-wrapper {
    overflow-x: scroll;
  }
  table {
    width: 100%;
  }
  th, td {
    display: block;
  }
  th {
    text-align: center;
    background-color: #000000;
    border: none;
  }
  td {
    border-bottom: none;
  }
  td:first-child {
    font-weight: 900;
    padding-top: 10px;
  }
}

header {
  background-color: #474541;
  height: 110px;
  text-align: center;
  padding: 0px 0;
}

header img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  background-color: #616160;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/* remove o padding e margin padrão da lista, e define o display como flex */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Define o espaço entre cada item da navegação */
nav ul li {
  margin: 0 30px;
}

/* define a aparência dos links. Eles são exibidos como blocos com um fundo transparente,
texto branco e um preenchimento de 10px 15px. Eles também têm um raio de borda de 5px e uma
transição suave de cor de fundo quando o mouse passa por cima */
nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* define a cor de fundo quando o mouse passa sobre o link. */
nav ul li a:hover {
  background-color: #363636;
}

/* Define o estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #616160;
}

/* Define o estilo de um elemento de cabeçalho */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: Calibri;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: Monaco;
}

/* Define o estilo de um link */
a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}

p {
  font-family: times;
  color: #fff;
  text-decoration: none;
  text-align: left;
}

/* Define o estilo de um botão */
button {
  background-color: #0066cc;
  color: #a7a6a6;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.2em;
}

footer {
  background-color: #fff;
  height: 61px;
  background-size: cover;
  text-align: center;
  padding: 0px 0;
}

footer img {
  max-height: 100%;
  max-width: 100%;
}